@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!-- Contains the "learning" header section-->
    <div class="d-flex p-2 flex-column">
        <div class="d-flex flex-fill" style="max-width:80%">
            <input type="text" class="form-control mx-2" id="url-input" style="" placeholder="Place recipe URL Here..." />
            <input type="text" class="form-control mx-2" id="name-input" style="" placeholder="Recipe Name" />
        </div>
        <div class="d-flex mt-3">
            <button onclick="learn()">Learn Recipe</button>
            <button onclick="loadDemo()" class="mx-4">Load Demo</button>
        </div>
    </div>

    <!-- Contains the Chat area-->
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex align-self-start"><p style="font-size:x-large">Chat History</p></div>
            <div class="d-flex align-self-center"><p style="font-size:x-large">Chat Citations</p></div>
        </div>
        <div class="d-flex p-2 flex-row justify-content-center">
            <textarea id="output" class="form-control mx-3" style="max-width:40%" readonly rows="16"></textarea>
            <textarea id="output-citations" class="form-control mx-3" style="max-width:40%" readonly rows="4"></textarea>
        </div>
    </div>
    <div class="d-flex p-2 flex-row justify-content-center">
        <input type="text" class="form-control" id="user-input" style="max-width:60%" placeholder="Type your prompt here..." />
    </div>
    <div class="d-flex p-2 flex-row justify-content-center">
        <button id="send" onclick="sendPrompt()">Send</button>
    </div>
</div>

<script>
    var conversations = [];
    var chatHistoryDisplay = '';
    const USERACTOR = 'user';
    const SYSACTOR = 'assistant';

    // --------------- Button Actions --------------------

    $("#user-input").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#send").click();
        }
    });

    // Button - Prompts
    function sendPrompt() {

        let userPrompt = $('#user-input').val();
        $('#user-input').val('');
        addToChatHistory(USERACTOR, userPrompt);

        let payload = { history: conversations };
        $.post("/prompt",
            payload,
            function (data) {
                console.log('value of data is...', JSON.stringify(data));
                addToChatHistory(data.role, data.msgContent);
                setCitationsTextFromDataContext(data?.dataContext);
            }
        );


        //$.get("/prompt", function (data) {
        //    $('#output').val(data)
        //});
    }

    // Button - Learn
    function learn() {
        let payload = { Url: $('#url-input').val(), Name: $('#name-input').val() };

        $.post("/prompt/learn",
            payload,
            function (data) {
                console.log('learn return started');
                setTimeout(function () {
                    console.log('value of data is...', JSON.stringify(data));
                    $('#output-citations').val(JSON.stringify(data));
                }, 20000);
            }
        );
    }

    // Button - loads demo values
    function loadDemo() {
        $('#url-input').val('https://www.bigoven.com/recipe/chimichurri/3013692');
        $('#name-input').val('Pappardelle ai funghi');
        $('#user-input').val('What are the ingredients for chimichurri?');
    }

    // ---------------- Other ------------------
    function createChatMessage(actor, message) {
        return { from: actor, content: message };
    }

    function addToChatHistory(actor, message) {
        // update the history variable
        chatHistoryDisplay = chatHistoryDisplay + actor + ': ' + message + '\n\r';

        // create the chat obj
        let chatMsgObj = createChatMessage(actor, message);
        conversations.push(chatMsgObj);

        // update visible value of chat field
        $('#output').val(chatHistoryDisplay);
        var textarea = document.getElementById('output');
        textarea.scrollTop = textarea.scrollHeight;
    }

    function setCitationsTextFromDataContext(dataContext) {
        try {
            let citations = dataContext[0].citations;
            let intent = dataContext[0].intent;
            let outputText = 'Intent: ' + intent + '\r\n\r\n';
            citations.forEach((citation) =>
                outputText = outputText + 'Citation: ' + citation.content + '\r\n\r\n');

            $('#output-citations').val(outputText);
        }
        catch (error) { console.log(JSON.stringify(error)); }
        
    }
</script>