@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex p-2 flex-column">
        <div class="d-flex flex-fill" style="max-width:80%">
            <input type="text" class="form-control mx-2" id="url-input" style="" placeholder="Place recipe URL Here..." />
            <input type="text" class="form-control mx-2" id="name-input" style="" placeholder="Recipe Name" />
        </div>
        <div class="d-flex mt-3">
            <button onclick="learn()">Learn Recipe</button>
            <button onclick="loadDemo()" class="mx-4">Load Demo</button>
        </div>
    </div>
    <div class="d-flex p-2 flex-row justify-content-center">
        <textarea id="output" class="form-control mx-3" style="max-width:40%" readonly rows="4"></textarea>
        <textarea id="output-citations" class="form-control mx-3" style="max-width:40%" readonly rows="4"></textarea>
    </div>
    <div class="d-flex p-2 flex-row justify-content-center">
        <input type="text" class="form-control" id="user-input" style="max-width:60%" placeholder="Type your prompt here..."/>
    </div>
    <div class="d-flex p-2 flex-row justify-content-center">
        <button onclick="getConfig()">Get Config</button>
    </div>
</div>

<script>
    function loadDemo(){
        $('#url-input').val('https://www.bigoven.com/recipe/chimichurri/3013692');
        $('#name-input').val('Pappardelle ai funghi')
    }
    function getConfig() {
        $.get("/prompt", function (data) {
            $('#output').val(data)
        });
    }
    function learn() {
        let payload = { Url: $('#url-input').val(), Name: $('#name-input').val() };

        $.post("/prompt/learn",
            payload,
            function (data) {
                console.log('learn return started');
                setTimeout(function () {
                    console.log('value of data is...', JSON.stringify(data));
                    $('#output').val(JSON.stringify(data));
                }, 20000);
            }
        );
    }
</script>