@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <textarea id="output"></textarea>
        <button onclick="getConfig()">Get Config</button>
    </div>
</div>

<script>
    function getConfig() {
        $.get("/prompt", function (data) {
            $('#output').val(data)
        });
    }
</script>