@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <textarea id="output"></textarea><button onclick="getConfig()">Get Config</button>
    </div>
</div>

<script>
    function getConfig() {
        fetch("/prompt")
            .then((response) => response.json())
            .then((json) => console.log(json));
    }
</script>